* {
  margin: 0;
  font-family: "Roboto", sans-serif; }

.navigation {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  justify-content: space-between; }

.header-item {
  margin: 10px; }

#title {
  flex-grow: 1; }

.header-item {
  margin: 10px; }

#title {
  flex-grow: 1; }

.site-body {
  display: flex;
  height: 100vh;
  flex-direction: column; }

.site-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: center; }

.site-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  justify-content: flex-start;
  flex: 1;
  max-width: 80%; }

.footer {
  text-align: center;
  padding: 1em; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.gray {
  background: #EEEEEE; }

#grid-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  border: #A9A9A9 solid 1px;
  margin-top: 3em; 
  margin-bottom: 3em;}


.grid {
  border: #A9A9A9 solid 1px;
  /* TODO unhack: cell-container dimensions x 16 */
  width:16em;
  /*height:16ch;*/
  height:16em;
  background:black; 

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
  
.cell-container{
  margin: 1px;
}

.cell.empty{
  background-color: black;
}
    
.cell{
  box-sizing: border-box;
  width:2em;
  height:2em;
  border:none;
}
 
.cell.answer{
  background-color: white;
  padding-left:33%;
}

.number-container {
    position: absolute;
}

.number  {
    font-size: xx-small;
    color: grey; 
}